[submodule "repos/samtools"]
	path = repos/samtools
	url = git@github.com:madhavajay/samtools.git
[submodule "repos/htslib-rs"]
	path = repos/htslib-rs
	url = git@github.com:madhavajay/htslib-rs.git
	branch = main
